<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerOne">
        <register type="IDAL.Iconfig_file_first_kindDAL,IDAL" mapTo="DAL.config_file_first_kindDAL,DAL" name="config_file_first_kindDAL"></register>
        <register type="IDAL.Iconfig_file_second_kindDAL,IDAL" mapTo="DAL.config_file_second_kindDAL,DAL" name="config_file_second_kindDAL"></register>
        <register type="IDAL.Iconfig_file_third_kindDAL,IDAL" mapTo="DAL.config_file_third_kindDAL,DAL" name="config_file_third_kindDAL"></register>
      </container>
      <container name="containerTwo">
        <register type="IBLL.Iconfig_file_first_kindBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.Iconfig_file_second_kindBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
        <register type="IBLL.Iconfig_file_third_kindBLL,IBLL" mapTo="BLL.config_file_third_kindBLL,BLL" name="config_file_third_kindBLL"></register>
      </container>
    </containers>
  </unity>

</configuration>

